<!-- Header for the all pages just displaying the project name -->

<div style="height: 40px; width: 100%; background-color:#7B55E8; margin-bottom: 10px;">
    <h3 style="color: white; padding: 5px; margin: 0px; text-align: center;">Issue Tracker</h3>
</div>