$theme-color: #7B55E8;

.new-project{

    display: flex;
    justify-content: space-evenly;
    .project-add-form{
        display: flex;
        flex-direction: row;
        border: 1px solid $theme-color;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        input{
            height: 38px;
            width: 300px;
            margin: 10px;
            padding: 3px;
            border: 1px solid $theme-color;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            color: gray;
        }
    
        button{
            height: 38px;
            width: 100px;
            margin: 15px;
            padding: 3px;
            border: 1px solid $theme-color;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            background-color: $theme-color;
            color: white;
            cursor: pointer;
        }
        button:hover{
            transition: ease-in-out 0.2s;
            transform: scale(1.1);
        }    
    }
    
    .project-list{
        margin: 20px;
        padding: 20px;
        border: 1px solid $theme-color;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        height: 70vh;
        overflow: scroll;
    
        .project-card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            margin: 20px;
            padding: 20px;
            border: 1px solid $theme-color;
            background-color: $theme-color;
            border-radius: 4px;
            box-shadow: -1px -1px 5px 9px rgba(197,206,235,1);
            height: 120px;
            overflow: auto;
            color: white;
            text-align: left;

            .card-detailed{
                div{
                    margin-top: 14px;
                }
            }

            .open-project-page{
                height: 34px;
                width: 108px;
                border-radius: 4px;
                background-color: white;
                color: $theme-color;
                display: flex;
                justify-content: center;
                align-items: center; 
               a{
                text-decoration: none;
               }
            }
        }

        .project-card:hover{
            transition: ease-in-out 0.8s;
            transform: rotate(3deg);
            translate: 10px;
        }
    }
    
}